@font-face {
	font-family: 'Avenir Next LT Pro Ultra Light Condensed';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir Next LT Pro Ultra Light Condensed'), url('../fonts/AvenirNextLT.woff') format('woff');
}