html {
    height: 100%;
}

body {
    min-width: 750px !important;
    position: relative;
    margin: 0px;
    font-family: 'Avenir Next LT Pro Ultra Light Condensed';
    height: 100%;
    overflow-y: auto; 
}

/* DISPLAY */
.disp_off { display: none !important; }
.disp_on { display: block; }
.disp_on_table_cell {display: table-cell;}

.no_scroll {
    overflow: none;
    height: -moz-calc(100% - 85px);
    height: -webkit-calc(100% - 85px);
    height: -o-calc(100% - 85px);
    height: calc(100% - 85px);
}

.hidden {
    display: none;
}

/* HEADER */
header {
    min-width: 750px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    padding-top: 20px;
    background-color: #ffffff;
}

.sticky_show {
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
 
    -webkit-transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
    transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
 
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
} 

.header_hidden {
    -webkit-transform: translateY( -100% );
    -ms-transform: translateY( -100% );
    transform: translateY( -100% );
}

#header-title {
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
    font-size: 50px;
    width: 300px;
    margin: auto;
}

#header-title:hover {
    cursor: pointer;
}


/* MAIN MENU */
#menu {
    padding-left: 20px;
    padding-top: 10px;
    z-index: 10;
    position: fixed;
    background-color: #FFFFFF;
}

.menu-icons {
    position: fixed;
    z-index: 10;
    width:30px;
    height:30px;
}

.menu-icon:hover {
    cursor: pointer;
    cursor: hand;
}

#menu-but {}

#menu-list {
    list-style-type: none;
    padding-top: 35px;
    padding-left: 0;
}

.menu-item {
    font-size: 20px;
    opacity: 0.6;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-item:hover {
    opacity: 0.8;
    cursor: pointer;
    cursor: hand;
}

/* CONTENT */
#content {
    float:left;
    z-index: -1;
    padding-top: 70px;
    width: 100%;
    overflow: inherit:width;
}

/* FOOTER */
.social-list {
    padding-right: 40px;
    text-align: center;
}

.social-list-item {
    font-size: 40px;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

.social-icon {
    width: 33px;
    height: 33px;
}

footer {
    width: 100%;
    margin: auto;
}
