body {
	min-width: 550px;
	margin: 0px;
	font-family: 'Avenir Next LT Pro Ultra Light Condensed';
	height: 100%;
}

#content {
	float:left;
	z-index: -1;
	position: absolute;
	top: 85px;
	width: 100%;
}

.container-padded {
	width: -moz-calc(100% - 70px);
  	width: -webkit-calc(100% - 70px);
  	width: -o-calc(100% - 70px);
  	width: calc(100% - 70px);
	margin-right: 35px;
	margin-left: 35px;
}

p {
	font-size: 50px;
	text-align: center; 
	color: #666666;
	padding-bottom: 0;
	margin: 0;
}

#social-nav {
	width: 190px;
	display: block;
	margin: auto;
	list-style-type: none;
	padding-right: 10px;
}


.social-list-item {
	display: inline-block;
	padding-right: 5px;
}

.social-icon {
	width: 35px;
	height: 35px;
}

#menu {
	position: fixed;
	top: 75px;
	float: left;
	background:rgba(255,255,255,0.7); 
	margin-left: 40px;
	margin-top: 9px;
	z-index: 10;
}

