body{
min-width: 980px;
max-width: 1134px;
background-color: #ffffff;
z-index: -1;
width: 100%;
padding: 0px;
margin: 0 auto;
}

#mainbody{
	width: 1134;
	background: url('bg2.jpg');
	background-repeat: repeat;
	z-index: 0;
	position: center;
	margin: auto;
}

h1{
width: 1134;
font-family:"kristi";
color: midnightblue; 
font-size: 70px;
text-align: center;
}

#header {
height: 240px;
}

#background {
position: absolute;
padding: 0;
z-index:0; 
top:0; 
width:100%; 
height:240px;
background: url('m1lan.jpg');
background-repeat: no-repeat;
}

ul.menu{
	background-color: #000000;
	list-style-type: none;
	font-family: "amatic";
	font-size: 30px;
	color: #ffffff;
  	margin: 0;
  	text-align: center;
  	position: relative;
}

ul.menu li {
	display: inline-block; 
	margin: 0 1.7em .25em 0;
}

ul.menu li a:link{
	color:#ffffff; 
	text-decoration: none;
}
ul.menu li a:visited{
	color: #ffffff; 
	text-decoration: none
}
ul.menu li a:hover{
	color: chartreuse
}

#home h2{
	margin: 30px;
	font-size: 20px;
	font-family: "blackjack";
	text-align: center;
	color: #000000;
}

ul.social {
  list-style-type: none;
  margin: 0;
 /* padding: 30px;*/
  text-align: center;
}
 
ul.social li {
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}

ul.social li img {
	border-radius: 50%;
}
