body{
min-width: 980px;
max-width: 1134px;
background-color: #ffffff;
z-index: -1;
width: 100%;
padding: 0px;
margin: 0px;
}

#mainbody{
  width: 1134;
  background-color: #D8f8ff;
  position: center;
  margin: 0 auto;
}


#header {
height: 240px;
background-color: #ffa6a6;
}

#left {
	float: left;
	width: 240px;
	height: 213px;
	padding-top: 14px; 
}

#right {
	float: left;
	left: 300px;
	height: 240px;
}

ul.head-img-list {
  list-style-type: none;
  margin-top: 3px;
  padding-left: 0px;
  text-align: center;
}
 
ul.head-img-list li {
  display: inline-block;
  height: 80px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 30px;
  position: relative;
  width: 80px;
  outline-style: dotted;
  outline-color: #ffffff;
  outline-width: thin;
}

ul.menu{
	position: relative;
	background-color: #000000;
	list-style-type: none;
	font-family: "amatic";
	font-size: 30px;
	color: #ffffff;
  margin: 0;
  text-align: center;
}

ul.menu li {
	display: inline-block; 
	margin: 0 1.7em .25em 0;
}

ul.menu li a:link{
	color:#ffffff; 
	text-decoration: none;
}
ul.menu li a:visited{
	color: #ffffff; 
	text-decoration: none
}
ul.menu li a:hover{
	color: chartreuse
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 30px;
  text-align: center;
}
 
ul.img-list li {
  display: inline-block;
  height: 200px;
  margin: 0 2em 2em 0;
  position: relative;
  width: 200px;
}
ul.img-list li img {
  border-radius: 50%;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  color: white;
  font-family: "amatic";
  font-size: 25px;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
  opacity: 0;
}
 
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

#aboutHome p {
  position: relative;
  font-family: "amatic"
  font-size: 50px;
}