body{
min-width: 980px;
max-width: 1134px;
background-color: #ffffff;
z-index: -1;
width: 100%;
padding: 0px;
margin: 0px;
}

#mainbody{
	width: 1134;
	background-color: #e8ffe0;
	z-index: 0;
	position: center;
	margin: 0 auto;
}


#header {
height: 240px;
background-color: #003300;
}

ul.head-img-list {
  list-style-type: none;
  margin-top: 0px;
  padding-left: 0px;
  text-align: center;
}
 
ul.head-img-list li {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}

ul.menu{
	background-color: #000000;
	list-style-type: none;
	font-family: "amatic";
	font-size: 30px;
	color: #ffffff;
  	margin: 0;
  	text-align: center;
  	position: relative;
}

ul.menu li {
	display: inline-block; 
	margin: 0 1.7em .25em 0;
}

ul.menu li a:link{
	color:#ffffff; 
	text-decoration: none;
}
ul.menu li a:visited{
	color: #ffffff; 
	text-decoration: none
}
ul.menu li a:hover{
	color: chartreuse
}

#main{
float: right;
width: 70%;
text-align: left;	
background-color: #ffffff;
position: relative;
}
#main h2{
font-family: "amatic";
font-size: 25px;
color: #003300;
padding-left: 1em;
margin-bottom: 0;
}

#main p{
font-family: "dubielplain";
font-size: 15px;
text-align: justify;
color: #000000;
padding-left: 2.5em;
padding-right: 3em;
}

#main dl dt{
font-family: "amatic";
color: #003300;
font-size: 25px;
padding-left: 1em;
}

#main dl dd{
font-family: "dubielplain";
text-align: justify;
font-size: 15px;
color: #000000;
padding-right: 16em;
}

#main dl dd a:link{color: #000000; text-decoration: underline;}
#main dl dd a:hover{color: #003300;}
#main dl dd a:visited{color: #000000;}

#chains{
	padding-bottom: 20px;
	padding-right: 45px;
}

#sidebar{
float: left;
width: 30%;
background-color: #E8ffE0;
}

#sidebar p{
	font-size: 29px;
	font-family: "blackjack";
	color: #003300;
	padding-right: 1em;
	padding-left: 1em;
}
